<!-- Header -->
<div id="header" ng-include="'views/common/header.html'"></div>

<!-- Navigation -->
<aside id="menu" ng-include="'views/common/menu.html'"></aside>

<!-- Main Wrapper -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div id="wrapper">
  <div class="contents">
    <!-- ################################################################################################ -->
    <div class="scrollable" id="demo">
      <table id="example" class="display" width="100%" data-page-length="25" data-order="[[ 1, &quot;asc&quot; ]]">
        <thead>
          <tr>
            <th>이름</th>
            <th>갤러리</th>
            <th>Header 3</th>
            <th>Header 4</th>
          </tr>
        </thead>
        <tbody>
            <tr ng-repeat="note in notices">
                <td>[[note.id]]</td>
                <td colspan="2">[[note.subject]]</td>
                <td>[[note.created | date : 'yyyy-MM-dd']]</td>
                <td>[[note.user_id]]</td>
            </tr>
        </tbody>
      </table>
    </div>
    <!-- ################################################################################################ -->
  </div>
</div>



<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
